.contact {
	background: var(--second-bg-color);
  display: grid;
	align-content: center;
	justify-items: center;

  h2 {
    text-align: center;
    font-size: 3rem;
    margin-bottom: 2rem;
    position: relative;
    z-index: 1;
  }

  form {
    max-width: 70rem;
		width: 100%;
    margin: 1rem auto;
    text-align: center;
    margin-bottom: 3rem;
		

    .input-box {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;

      input {
        width: 100%;
        padding: 1.5rem;
        font-size: 1.6rem;
        color: var(--text-color);
        background: var(--bg-color);
        border-radius: 0.8rem;
        margin: 0.7rem 0;
      }

    }

		textarea {
			width: 100%;
			padding: 1.5rem;
			font-size: 1.6rem;
			color: var(--text-color);
			background: var(--bg-color);
			border-radius: 0.8rem;
			margin: 0.7rem 0;
			resize: none; /* Remove the textarea's resize handle */
		}
		.error-message-textarea{
			font-size: 1.3rem; /* Reducimos el tamaño del mensaje para mantenerlo más discreto */
			color: red;
			margin-top: 4px; /* Agregamos un pequeño margen superior */
			display: flex;
			flex-direction: column; /* Agregamos dirección de columna para centrar los elementos */
			align-items: center; /* Centramos los elementos horizontalmente */
		}
		
    .btn {
      padding: 0.5em 1em;
      font-size: 1.6rem;
      border: none;
      border-radius: 5px;
      background-color: var(--bg-color);
      color: var(--text-color);
      cursor: pointer;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.416);

      &:hover {
        background-color: var(--variante);
      }
    }

    .btn-disabled {
      background-color: var(--bg-color);
      margin-top: 2rem;
      cursor:no-drop ;
			box-shadow: none;

      &:hover {
        box-shadow: none;
				background-color: var(--bg-color);
      }
    }

    /* Estilo para el input de número de móvil */
    input[type="number"]::-webkit-inner-spin-button,
    input[type="number"]::-webkit-outer-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }

    /* Estilo para el autocompletado */
    .input-box input:-webkit-autofill,
    textarea:-webkit-autofill {
      -webkit-text-fill-color: var(--text-color);
      -webkit-box-shadow: 0 0 0px 1000px var(--second-bg-color) inset;
      transition: background-color 5000s ease-in-out 0s;
    }

    /* Estilos para los mensajes de error */
    .error-message {
      font-size: 14px;
      color: red;
      margin-top: 4px;
    }

    /* Estilos para los iconos de éxito y error en SweetAlert */
    .swal-custom-style {
      background-color: var(--second-bg-color);
      color: var(--text-color);
      width: 20%;
      height: 60%;
    }

    .swal-icon--success .swal-icon--success__line {
      stroke: #00ff00;
    }

    .swal-icon--error .swal-icon--error__line {
      stroke: var(--main-color);
    }

    /* Estilos para los contenedores que agrupan inputs con sus mensajes de error */
    .input-container {
      width: 49%;
      position: relative;

      .error-message {
        font-size: 1.3rem;
        color: red;
        margin-top: 4px;
        display: flex;
        flex-direction: column;
        align-items: center;
      }
    }
  }
}


