.footer {
  display: flex;
  justify-content: space-between;
  background-color: var(--bg-color);

  .footer-section1 {
		display: flex;
		justify-content: center;
		align-items: center;
		margin: 0 5rem;
		background-color: var(--bg-color);
	
		.footer-location-section {
			display: flex;
			margin-bottom: 10px;
			flex-direction: column;
			align-items: flex-start;
	
			.footer-description1 {
				text-align: center;
				font-size: 2rem;
				margin-bottom: 2rem;
				margin-top: 2rem;
				
			}
			.footer-location {
				display: flex;
				align-items: center; /* Cambio aquí para alinear los iconos y párrafos en la misma línea */
				margin-bottom: 2rem;
				a {
					text-decoration: none;
					color: var(--text-color);
					display: flex;
					align-items: center; /* Cambio aquí para alinear los iconos y párrafos en la misma línea */
	
					p {
						font-size: 1.6rem;
						margin: 0;
					}
				}
				a:hover {
					color: var(--main-color);
				}
				.footer-location-icon {
					margin-right: 10px;
				}
			}
		}
	}
	
	.footer-section3 {
		display: flex;
		justify-content: center;
		align-items: center;
		margin: 0 5rem;
		background-color: var(--bg-color);
	
		.footer-contact-section {
			display: flex;
			margin-bottom: 10px;
			flex-direction: column;
			align-items: flex-start;
	
			.footer-description3 {
				text-align: center;
				font-size: 2rem;
				margin-bottom: 2rem;
				margin-top: 2rem;
				width: 100%; /* para que tome toda la caja del div */
				
			}
			.footer-contact {
				display: flex;
				align-items: center; /* Cambio aquí para alinear los iconos y párrafos en la misma línea */
				margin-bottom: 2rem;
				a {
					text-decoration: none;
					color: var(--text-color);
					display: flex;
					align-items: center; /* Cambio aquí para alinear los iconos y párrafos en la misma línea */
	
					p {
						font-size: 1.6rem;
						margin: 0;
					}
				}
				a:hover {
					color: var(--main-color);
				}
				.footer-contact-icon {
					margin-right: 10px;
				}
				.copied-message {
					font-size: 1.6rem;
					color: var(--main-color);
					margin-left: 1rem;
				}
			}
		}
	}

  .footer-section2 {
    .footer-logo-section {
      display: flex;
      align-items: center;
      margin-bottom: 10px;
      flex-direction: column;
      flex-wrap: wrap;

      .footer-company-logo {
        width: 150px;
        height: auto;
      }
      p {
        font-size: 1.6rem;
				text-align: center;
      }
    }
  }
}
@media (max-width: 750px) {
  .footer {
    flex-direction: column-reverse; /* Cambia el orden de las secciones */
    padding-top: 30px; /* Añade espacio en la parte superior del footer */
    align-items: center;
    
    .footer-section {
      width: 100%;
      margin: 0;
    }

    .footer-section1,
    .footer-section3 {
      padding: 0 1rem;
    }
  }
}