.navbar {
	display: flex;
	justify-content: space-around;
	align-items: center;
	padding: 2rem 9%;
	background-color: var(--bg-color); /*var(--bg-color);*/
	color: white;
	position: fixed;
	z-index: 1000;
	width: 100%;
	top: 0;
	/* margin-bottom: 300px; */

	/* .logo {
		font-size: 4rem;

		a {
			text-decoration: none;
			color: var(--text-color);
		}
	} */

	.nav-links {
		display: flex;
		flex-direction: row;
		/* align-items: center; */
		justify-content: center;
		gap: 10rem;
		position: relative;
		top: 0;
		left: auto;
		width: auto;
		height: auto;
		margin: 0; // Remover margenes anteriores
		padding: 0; // Remover padding anteriores
		transform: none;
    font-size: 2rem;
    font-weight: 600;
	}

	&.open .nav-links {
		background-color: var(--bg-color); /*color menu*/
		font-size: 4rem;
		transform: translateX(0);
		width: 100%;
		height: 100vh;
		top: 3rem;
		transition-delay: 0.2s;
    position: fixed;
	}
	.nav-link {
		text-decoration: none;
		color: var(--text-color);

		&:hover {
			text-decoration: none;
			color: var(--variante);
		}

		&.active {
			color: var(--variante);
		}
    &.open {
      margin-top: 100rem;
    }
	}

	.menu-icon {
		display: none;
		flex-direction: column;
		cursor: pointer;
		position: absolute;
		/* top: 1.5rem; */
		right: 3rem;
	}

	@media (max-width: 885px) {
		.nav-links {
			flex-direction: column;
			position: fixed;
			top: 0;
			left: -100%;
			width: 100%;
			height: 100%;
			padding: 1rem;
			transform: translateX(-100%);
			transition: 0.3s ease all;
		}

		&.open .nav-links {
			left: 0px;
    transform: translateX(0);
    display: grid;
    align-content: center;
    justify-items: center;
    font-size: 2rem;
    justify-content: center;
    gap: 5rem
		}

		.menu-icon {
			display: flex;
		}

		.bar {
			width: 2rem;
			height: 0.3rem;
			background-color: var(--text-color);
			margin: 0.2rem 0; /* quiero que quede a la izquierda de la pantalla*/
			transition: transform 0.3s, background-color 0.3s;
		}

		.bar.open {
			background-color: var(--text-color);
		}

		.bar.open:first-child {
			transform: rotate(-45deg) translate(-5px, 5px);
			width: 30px;
		}

		.bar.open:nth-child(2) {
			transform: translateX(-50%);
			width: 0px;
		}

		.bar.open:last-child {
			transform: rotate(45deg) translate(-5px, -5px);
			width: 30px;
		}
	}
}

.navbar {
	display:flex;
	@media (max-width: 885px) {
		.nav-links {
			flex-direction: column;
			position: fixed;
			top: 0;
			left: -100%;
			width: 100%;
			height: 100%;
			padding: 1rem;
			transform: translateX(-100%);
			transition: 0.3s ease all;
		}

		&.open .nav-links {
			left: 0px;
    transform: translateX(0);
    display: grid;
    align-content: center;
    justify-items: center;
    font-size: 2rem;
    justify-content: center;
    gap: 5rem
		}

		.menu-icon {
			display: flex;
		}

		.bar {
			width: 2rem;
			height: 0.3rem;
			background-color: var(--text-color);
			margin: 0.2rem 0; /* quiero que quede a la izquierda de la pantalla*/
			transition: transform 0.3s, background-color 0.3s;
		}

		.bar.open {
			background-color: var(--text-color);
		}

		.bar.open:first-child {
			transform: rotate(-45deg) translate(-5px, 5px);
			width: 30px;
		}

		.bar.open:nth-child(2) {
			transform: translateX(-50%);
			width: 0px;
		}

		.bar.open:last-child {
			transform: rotate(45deg) translate(-5px, -5px);
			width: 30px;
		}
	}
}