.services {
  background: var(--second-bg-color);
	padding: 12rem 0;
	display: grid;
	align-content: center;
	justify-items: center;

  h2 {
		text-align: center;
		font-size: 3rem;
		margin-bottom: 2rem;
		position: relative;
		z-index: 1;
	}

  p {
    font-size: 1.5rem;
  }
}