.departments {
  background: var(--second-bg-color);
  padding-top: 8rem;
  h2 {
    text-align: center;
    font-size: 3rem;
    margin-bottom: 2rem;
    position: relative; /* Agregar posición relativa para z-index */
    z-index: 1; /* Asegurar que el título esté por encima de las tarjetas */
  }

  .card-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 3rem;
    padding: 0 1rem;

    .card {
      width: calc(33.33% - 1rem); /* Distribución en tres columnas, con espacio entre las tarjetas */
      min-width: 250px;
      max-width: 300px;
      height: 45rem;
      margin: 1rem;
      background: var(--bg-color);
      transition: all 0.4s;
      border-radius: 10px;
      box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.705);
      font-size: 25px;
      font-weight: 400;
      overflow: hidden;
      transition: transform 0.4s ease, box-shadow 0.4s ease; /* Agregar efectos de transición */
      transition-delay: 0.1s; /* Retraso en la transición */

      &:hover {
        border-radius: 15px;
        cursor: pointer;
        box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.705);
        background: var(--variante);
        transform: scale(1.05);
      }

      .custom-link {
        text-decoration: none;
        color: var(--text-color);

        .first-content {
          display: flex;
          flex-direction: column;
          align-items: center;
          border-radius: 15px;
          padding: 20px;
          text-align: center;
          transition: all 0.4s;

          .card-img {
            margin-bottom: 1.5rem;
            width: 100%;
            height: auto;
            max-height: 200px; /* Ajustar la altura máxima de la imagen */
            object-fit: cover;
            border-radius: 10px 10px 0 0;
          }

          span {
            margin: 1rem;
            font-size: 2rem;
            font-weight: 700;
          }

          p {
            margin: 1rem;
            font-size: 1.4rem;
            text-align: left;
          }

          strong {
            margin: 1rem;
            font-size: 1.6rem;
          }
        }
      }
    }
  }

  @media (max-width: 700px) {
    .card-container {
      flex-direction: column;
      align-items: center;

      .card {
        width: 90%;
        max-width: 100%;
        margin: 1.5rem 0;
      }
    }
  }
}


















/* 
.departments {
    background: var(--second-bg-color);
}

.heading {
  text-align: center;
  font-size: 3rem;
  margin-bottom: 2rem;

}

.card-container {
  display: grid;
  text-align: center;
  padding: 0 8rem;
  place-items: center;
  gap: 2.5rem;
  grid-template-columns: repeat(2, 1fr);
}

.card {
  display: flex;
  justify-content: center; 
  width: 30rem;
  height: 50rem; 
  margin: 2rem; 
  background: var(--main-color);
  transition: all 0.4s;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.705);
  font-size: 25px;
  font-weight: 400;
}

.card:hover {
  border-radius: 15px;
  cursor: pointer;
  transform: scale(1.1);
  box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.705);
  background: var(--bg-color);
}

.first-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  padding: 20px;
  text-align: center;
  transition: all 0.4s;
}

ul {
  list-style: none;
  padding: 0;
  display: flex;
}

ul li {
  margin-right: 10px;
}

ul li img {
  width: 30px;
  height: 30px;
}

ul li span {
  font-size: 1.2rem;
  font-weight: bold;
}

.card-img {
  margin-bottom: 2rem;
  width: 40vh;
  height: 10%; 
  object-fit: cover; 
  border-radius: 10px 10px 0 0; 
}

.card-icon {
  width: 20%; 
  height: auto;
  margin-right: 5px; 
}

.first-content p {
  margin: 1rem;
  margin-bottom: 2rem;
  font-size: 1.2rem;
}

.custom-link {
  text-decoration: none;
  color: var(--text-color)
}
*/