.departaments {
	display: grid;
	gap: 2em;
	background: var(--second-bg-color);
	padding-top: 11rem;
	margin-bottom: 12rem;
	align-content: center;
	justify-items: center;

	h2 {
		font-size: 3rem;
	}

	.departaments-filter {
		display: flex;
		align-items: center;
		gap: 1em;
		margin-bottom: 2em;
		justify-content: center;
		flex-wrap: wrap;

		h2 {
			font-size: 2rem;
		}
		select {
			padding: 0.5em 1em;
			font-size: 1.6rem;
			border-radius: 5px;
			background-color: var(--bg-color);
			color: var(--text-color);
			cursor: pointer;
			box-shadow: 0 4px 8px rgba(0, 0, 0, 0.416);

			&:hover {
				background: var(--main-color);
				transition: 0.4s ease-in-out;
			}

			option {
				font-size: 1.6rem;
			}
		}
		.btn {
			padding: 0.5em 1em;
			font-size: 1.6rem;
			border: none;
			border-radius: 5px;
			background-color: var(--bg-color);
			color: var(--text-color);
			cursor: pointer;
			box-shadow: 0 4px 8px rgba(0, 0, 0, 0.416);

			&:hover {
				background: var(--main-color);
				transition: 0.4s ease-in-out;
			}
		}
	}
	.departaments-option {
		border: 3px solid black;
		box-shadow: 0 4px 8px rgba(0, 0, 0, 0.416);
		border-top-left-radius: 15px;
		border-bottom-left-radius: 15px;

		.departaments-container {
			display: flex;
			justify-items: center;

			.departaments-img {
				width: 50%;
				/* height: 100%; */
				display: flex;
				align-items: center;
				justify-content: center;

				img {
					width: 100%;
					height: 100%;
					max-width: 500px;
					/* min-width: 300px; */
					max-height: 100%;
					border-top-left-radius: 15px;
					border-bottom-left-radius: 15px;
					object-fit: cover; // Ajusta la imagen a la altura del contenedor
				}
			}

			.departaments-info {
				display: flex;
				place-content: center;
				flex-wrap: wrap;
				flex-direction: column;
				align-items: stretch;
				margin: 0 2rem;
				padding: 2rem 0;

				h2 {
					text-align: center;
					font-size: 3rem;
					margin-bottom: 1rem;
				}
				h1 {
					font-size: 2rem;
				}
				p {
					margin-top: 1rem;
					text-align: left;
					font-size: 1.5rem;
					font-weight: 300;
					margin-bottom: 1rem;

					a {
						text-decoration: none;
						color: var(--main-color);
					}
				}

				.services-icons {
					margin-top: 1rem;
					margin-bottom: 1rem;
					display: flex;
					place-content: left;
					gap: 2rem;
				}

				.btn {
					margin-top: 2rem;
					padding: 0.5em 1em;
					font-size: 1.6rem;
					border: none;
					border-radius: 5px;
					background-color: var(--bg-color);
					color: var(--text-color);
					cursor: pointer;
					box-shadow: 0 4px 8px rgba(0, 0, 0, 0.416);

					&:hover {
						background: var(--main-color);
						transition: 0.4s ease-in-out;
					}
					a {
						color: var(--text-color);
						text-decoration: none;
					}
				}
			}
		}
		/* .departamentos-ubicacion {
			display: flex;
			padding-top: 2rem;
			flex-direction: row;
			align-items: center;
			gap: 2rem;
			justify-content: space-around;

			.ubicacion-info {
				
				h2 {
					text-align: center;
					font-size: 3rem;
					margin-bottom: 2rem;
					position: relative;
					z-index: 1; 
				}
				a {
					text-decoration: none;
					color: var(--text-color);
				}
				p {
					font-size: 1.5rem;
					text-align: center;
					margin-bottom: 2rem;
				}
				.btn {
					padding: 0.5em 1em;
					font-size: 1.6rem;
					border: none;
					border-radius: 5px;
					background-color: var(--bg-color);
					color: var(--text-color);
					cursor: pointer;
					box-shadow: 0 4px 8px rgba(0, 0, 0, 0.416);
		
					&:hover {
						background: var(--main-color);
						transition: 0.4s ease-in-out;
					}
					
				}
			}
		} */
	}
	@media (max-width: 1285px) {
		.departaments-option {
			border: 3px solid black;
			box-shadow: 0 4px 8px rgba(0, 0, 0, 0.416);
			border-top-left-radius: 15px;
			border-top-right-radius: 15px;
			border-bottom-left-radius: 0;
			border-bottom-right-radius: 0;
			.departaments-container {
				flex-direction: column;

				.departaments-img {
					width: 100%;

					img {
						width: auto;
						height: auto;
						max-width: 100%; /* Aseguramos que ocupe todo el ancho */
						border-top-left-radius: 15px;
						border-top-right-radius: 15px;
						border-bottom-left-radius: 0;
						border-bottom-right-radius: 0;
					}
				}
			}
		}
	}
}
