.departmentsSt {
  display: grid;
  justify-content: center;
  justify-items: center;
  align-items: center;
  gap: 2em;
  background: var(--second-bg-color);
  padding: 6rem 0;

  .filterSt-container {
    padding-top: 4rem;
    display: flex;
    align-items: center;
    gap: 1em;
    margin-bottom: 1em;
    justify-content: center;
    flex-wrap: wrap;

    .filters {
      display: flex;
      align-items: center;
      gap: 1em;

      label {
        font-size: 1.6rem;
      }

      select {
        padding: 0.5em 1em;
        font-size: 1.6rem;
        border-radius: 5px;
        background-color: var(--bg-color);
        color: var(--text-color);
        cursor: pointer;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.416);

        &:hover {
          background: var(--main-color);
        transition: 0.4s ease-in-out
        }

        option {
          font-size: 1.6rem;
        }
      }
    }

    .btn {
      padding: 0.5em 1em;
      font-size: 1.6rem;
      border: none;
      border-radius: 5px;
      background-color: var(--bg-color);
      color: var(--text-color);
      cursor: pointer;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.416);

      &:hover {
        background: var(--main-color);
        transition: 0.4s ease-in-out
      }
    }
  }

  .departmentSt-cards {
    display: grid;
    text-align: center;
    padding: 0 8rem;
    place-items: center;
    gap: 2.5rem;
    grid-template-columns: repeat(3, 1fr);
  }

  .departmentSt-card {
    display: fixed;
    flex-direction: column;
    gap: 2em;
    padding: 1rem;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.416);
    align-items: center;
    max-width: 380px; /* Ajustar el ancho máximo de las cards */
    width: 100%; /* Asegurarse de que ocupen todo el ancho */
		/* height: 80vh; */

    .departmentSt-img {
      display: flex;
      justify-content: center;
      width: 100%;
			height: 40vh;

      img {
        max-width: 100%;
        max-height: 100%;
        object-fit: cover;
        border-radius: 10px;
      }
    }

    .departmentSt-content {
      text-align: center;
      padding: 1rem;

      .heading {
        text-align: center;
        font-size: 3rem;
      }

      p {
        margin: 1rem;
        font-size: 1.6rem;
      }

      .servicesSt-list {
        list-style: none;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 1rem;
        padding: 1rem;

        li {
          display: flex;
          align-items: center;
          font-size: 1.6rem;
        }

        img {
          width: 30px;
          height: 30px;
          margin-right: 0.5em;
        }
      }
    }
  }

  @media (max-width: 870px) {
		.filterSt-container {
			flex-direction: column;
			align-items: center;
		}
    .departmentSt-cards {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  @media (max-width: 645px) {
		.filterSt-container {
			flex-direction: column;
			align-items: center;
			.filters {
				flex-direction: column;
    align-items: center;
			}
		}
    .departmentSt-cards {
      grid-template-columns: repeat(1, 1fr);

			.departmentSt-card {
				display: block;
				flex-direction: column;
				gap: 2em;
				padding: 1rem;
				border-radius: 10px;
				box-shadow: 0 4px 8px rgba(0, 0, 0, 0.416);
				align-items: center;
				max-width: 290px; /* Ajustar el ancho máximo de las cards */
				width: 140%; /* Asegurarse de que ocupen todo el ancho */
				/* height: 80vh; */

				.departmentSt-content {
					text-align: center;
					padding: 1rem;
		
					.heading {
						text-align: center;
						font-size: 2rem;
					}
		
					p {
						margin: 1rem;
						font-size: 1.2rem;
					}
		
					.servicesSt-list {
						list-style: none;
						display: flex;
						justify-content: center;
						flex-wrap: wrap;
						/* gap: 1rem; */
						/* padding: 1rem; */
		
						li {
							display: flex;
							align-items: center;
							font-size: 1.1rem;
						}
		
						img {
							width: 15px;
							height: 15px;
							margin-right: 0.5em;
						}
					}
				}
			}
    }
  }
}
