.available {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: var(--second-bg-color);

  h2 {
    text-align: center;
    font-size: 2.5rem;
    font-weight: 700;
    color: var(--variante-text);
    margin-bottom: 1rem;
  }

  .card-available {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    position: relative;
    width: 100%;
    max-width: 540px;
    height: 350px;
    max-height: 720px;
    background: linear-gradient(to bottom, #354F52, #068a2e);
    border-radius: 10px;
    padding: 2em 1.2em;
    margin: 12px auto;
    text-decoration: none;
    z-index: 0;
    overflow: hidden;
    transition: background-color 0.3s;

    .card-title-available {
      color: var(--text-color);
      font-size: 2.5em;
      line-height: normal;
      font-weight: 700;
      margin-bottom: 2em;
    }

    .small-desc-availableST,
    .small-desc-availableSM {
      font-size: 1.5em;
      font-weight: 400;
      line-height: 1.5em;
      margin-bottom: 2em;
      text-decoration: none;
      color: var(--text-color);

      &:hover {
        text-decoration: none;
        color: black;
      }
    }
  }

  .card-available.red {
    max-width: 700px;
    height: 420px;
    max-height: 820px;
    background: linear-gradient(to bottom, #740f0f, #e30404);

    .card-title-available {
      font-size: 3.5em;
    }

    .no-departments {
      font-size: 2em;
    }
  }

  @media (max-width: 700px) {
    .card-available {
      width: 90%;
      margin: 12px auto;

      .card-title-available {
        font-size: 2em;
      }

      .small-desc-availableST,
      .small-desc-availableSM {
        font-size: 1.2em;
      }
    }
  }

  @media (max-width: 400px) {
    .card-available {
      .card-title-available {
        font-size: 1.5em;
      }

      .small-desc-availableST,
      .small-desc-availableSM {
        font-size: 1em;
      }
    }
  }
}
