.slider-container {
	position: relative;
	width: 100%;
	height: 100vh;
	overflow: hidden;

	.swiper-slide img {
		display: block;
		width: 100%;
		height: 100%;
		object-fit: cover;
	}

	.mySwiper {
		width: 100%;
		height: 100%;

		.slider-content {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			text-align: center;
			color: var(--main-color);
			background: #354f52be;
			border-radius: 10px;
			margin: 1rem;
			padding: 1rem;
			z-index: 1;

			.slider-content-inner {
				display: flex;
				flex-direction: column;
				align-items: center;

				h1 {
					font-size: 4.5rem;
					font-weight: 500;
					margin-bottom: 1rem;
				}

				p {
					font-size: 2.6rem;
					font-weight: 200;
				}
			}
		}
	}
}

/* 
.slider-container {
  position: relative;
  width: 100%;
  height: 89vh;
  overflow: hidden;
  margin-top: 7.8rem;

  
}
.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}


.slider-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #fff;
  background: rgba(255, 255, 255, 0.297);
  border-radius: 10px;
  margin: 1rem;
  padding: 1rem;
  z-index: 1;
}

.slider-content-inner {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.slider-content h1 {
  font-size: 4.5rem;
  font-weight: 500;
  margin-bottom: 1rem;
}

.slider-content p {
  font-size: 2.6rem;
  font-weight: 200;
}

.mySwiper {
  width: 100%;
  height: 100%;
} */
