// Import de fuentes y estilos
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,700;1,900&display=swap");

:root {
	// fonts
	--font-arvo: "Roboto", sans-serif;

	//colors
	--bg-color: #2ec4b6;
	--second-bg-color: #cbf3f0;
	--text-color: #000000;
	--main-color: #ff9f1c;
	--second-main-color: #ffbf69;
};
