// Import de fuentes y estilos
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,700;1,900&display=swap");

:root {
	// fonts
	--font-arvo: "Roboto", sans-serif;

	//colors
	--bg-color: #354F52; //Color Principal
	--second-bg-color: #6A8B75; //Color Secundario
	--text-color:  #F7F7F7; //Color de Resalte
	--variante: #D15736;
	--variante-text: #F7F7F7;
	--main-color:  #E5A953;//Color de Resalte
	--second-main-color:  #2B2B2B; //Color de Contraste
};
