/* departmentsSm.css */

.departmentsSm {
  display: grid;
  justify-content: center;
  gap: 2em;
}

.departmentSm-card {
  display: grid; /* Utilizamos grid para organizar el contenido */
  grid-template-columns: 1fr 2fr; /* Dos columnas: 1fr para la imagen, 2fr para el contenido */
  gap: 2rem;
  background: var(--main-color);
  width: 100%; /* Las cards ocuparán el 100% del ancho del contenedor */
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.departmentSm-img img {
  width: 100%;
  max-width: 800px; /* Ajusta el tamaño máximo de la imagen según tus preferencias */
  height: auto;
  object-fit: cover;
  border-radius: 10px;
}

.departmentSm-content {
  display: flex;
  flex-direction: column;
  text-align: left;
  padding: 0;
}

.departmentSm-content .heading {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.departmentSm-content p {
  font-size: 1.6rem;
  margin: 1rem 0;
}

.servicesSm-list {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Tres columnas para los servicios */
  gap: 1rem;
  padding: 0;
}

.servicesSm-list li {
  display: flex;
  align-items: center;
  font-size: 1.6rem;
  margin-bottom: 1rem;
}

.servicesSm-list img {
  width: 30px;
  height: 30px;
  margin-right: 0.5em;
}

