.home {
  display: flex;
  justify-content: center;
  align-items: center;
}


.home-content h3 {
  font-size: 3.5rem;
  font-weight: 700;
}

.home-content h1 {
  font-size: 5.9rem;
  font-weight: 700;
  line-height: 1.3;
}

.home-content p {
  font-size: 1.6rem;
  margin-right: 3rem;
}

.home-img img {
  width: 40vw;
  border-radius: 2%;
  border: 0.2rem solid var(--main-color);
}