//! abstracts
@use "./abstracts/mixins";
@use "./abstracts/variables";

//! base
@use "./base/base";
@use "./base/resets";

//! components
@use "./components/nav";
@use "./components/contact";
@use "./components/services";
/* @use "./components/locations.scss"; */
@use "./components/footer";
@use "./components/home/home";
@use "./components/home/slider";
@use "./components/home/availableDepartments";
@use "./components/departments/departments";
@use "./components/departments/departmentsSm";
@use "./components/departments/departmentsSt";
